.master-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.accordian-menu {
    display: flex;
    flex-direction: column;

    width: 250px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

